<!DOCTYPE html><html><head><meta charset="utf-8"><title>Dillinger.md</title><style></style></head><body id="preview">
<h1 class="code-line" data-line-start=0 data-line-end=1><a id="ARI_Server_Class_0"></a>ARI Server Class</h1>
<h2 class="code-line" data-line-start=1 data-line-end=2><a id="_SendHelp_game_Studios__1"></a><em>SendHelp game Studios</em></h2>
<p class="has-line-data" data-line-start="3" data-line-end="6">Logo<br>
Build Status<br>
Version</p>
<hr>
<p class="has-line-data" data-line-start="8" data-line-end="10">This class is responsible for the Data integrity and organization of the<br>
ARI Cyber Security educational video game</p>
<ul>
<li class="has-line-data" data-line-start="10" data-line-end="11">Storing records of game performance for optimization</li>
<li class="has-line-data" data-line-start="11" data-line-end="12">Maintain game data and provide the developers and game designers insight of gameplay</li>
</ul>
<hr>
<h2 class="code-line" data-line-start=14 data-line-end=15><a id="Features_14"></a>Features</h2>
<ul>
<li class="has-line-data" data-line-start="15" data-line-end="16">Set</li>
<li class="has-line-data" data-line-start="16" data-line-end="17">Get</li>
<li class="has-line-data" data-line-start="17" data-line-end="18">Fetch UI Data</li>
<li class="has-line-data" data-line-start="18" data-line-end="19">Queries for developer insights</li>
</ul>
<hr>
<h2 class="code-line" data-line-start=21 data-line-end=22><a id="Requirements_21"></a>Requirements</h2>
<ul>
<li class="has-line-data" data-line-start="22" data-line-end="23"><a href="https://dotnet.microsoft.com/download/dotnet/5.0">.NET 5.0 Framework</a></li>
</ul>
<hr>
<h2 class="code-line" data-line-start=25 data-line-end=26><a id="Tech_25"></a>Tech</h2>
<p class="has-line-data" data-line-start="26" data-line-end="27">The ARI Database uses a number of open source projects to work properly:</p>
<ul>
<li class="has-line-data" data-line-start="28" data-line-end="29"><a href="https://us-east-2.console.aws.amazon.com/apigateway/main/apis?region=us-east-2">AWS API Gateway</a> - For backend database communication</li>
<li class="has-line-data" data-line-start="29" data-line-end="30"><a href="https://us-east-2.console.aws.amazon.com/dynamodbv2/home?region=us-east-2#service">AWS DynamoDB</a> - To store game, player and other data for gameplay optimization.</li>
<li class="has-line-data" data-line-start="30" data-line-end="32">Developer portal - Coming soon…</li>
</ul>
<hr>
<h2 class="code-line" data-line-start=33 data-line-end=34><a id="Usage_33"></a>Usage</h2>
<h3 class="code-line" data-line-start=35 data-line-end=36><a id="AWS_DynamoDB_35"></a>AWS DynamoDB</h3>
<h4 class="code-line" data-line-start=36 data-line-end=37><a id="Sample_Table_36"></a>Sample Table</h4>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>gameID</th>
<th>playerID</th>
<th>score</th>
<th>difficulty</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>213</strong></td>
<td>643</td>
<td>241</td>
<td>easy</td>
</tr>
<tr>
<td><strong>214</strong></td>
<td>324</td>
<td>874</td>
<td>intermediate</td>
</tr>
</tbody>
</table>
<h5 class="code-line" data-line-start=43 data-line-end=44><a id="Example_JSON_GET_Request_43"></a>Example JSON GET Request</h5>
<p class="has-line-data" data-line-start="44" data-line-end="45"><strong>JavaScript</strong></p>
<pre><code class="has-line-data" data-line-start="47" data-line-end="61" class="language-js"><span class="hljs-keyword">const</span> URL; <span class="hljs-comment">//your endpoint URL</span>
<span class="hljs-keyword">const</span> KEY; <span class="hljs-comment">//your API key</span>

fetch(URL + KEY, {
  <span class="hljs-string">"method"</span>: <span class="hljs-string">"GET"</span>,
  <span class="hljs-string">"headers"</span>: {}
})
.then(response =&gt; {
  <span class="hljs-built_in">console</span>.log(response);
})
.catch(err =&gt; {
  <span class="hljs-built_in">console</span>.error(err);
});
</code></pre>
<p class="has-line-data" data-line-start="62" data-line-end="63"><strong>C#</strong></p>
<pre><code class="has-line-data" data-line-start="64" data-line-end="80" class="language-cs"><span class="hljs-keyword">const</span> URI; <span class="hljs-comment">//your endpoint URI</span>
<span class="hljs-keyword">const</span> KEY; <span class="hljs-comment">//your API key</span>

<span class="hljs-keyword">var</span> client = <span class="hljs-keyword">new</span> HttpClient();
<span class="hljs-keyword">var</span> request = <span class="hljs-keyword">new</span> HttpRequestMessage
{
    Method = HttpMethod.Get,
    RequestUri = <span class="hljs-keyword">new</span> Uri(<span class="hljs-string">"http://localhost:8080/api/courses"</span>),
};
<span class="hljs-keyword">using</span> (<span class="hljs-keyword">var</span> response = <span class="hljs-keyword">await</span> client.SendAsync(request))
{
    response.EnsureSuccessStatusCode();
    <span class="hljs-keyword">var</span> body = <span class="hljs-keyword">await</span> response.Content.ReadAsStringAsync();
    Console.WriteLine(body);
}
</code></pre>
<p class="has-line-data" data-line-start="81" data-line-end="82">Output:</p>
<pre><code class="has-line-data" data-line-start="83" data-line-end="98" class="language-json">[
  {
    "<span class="hljs-attribute">gameID</span>": <span class="hljs-value"><span class="hljs-number">213</span></span>,
    "<span class="hljs-attribute">playerID</span>": <span class="hljs-value"><span class="hljs-number">643</span></span>,
    "<span class="hljs-attribute">score</span>": <span class="hljs-value"><span class="hljs-number">241</span></span>,
    "<span class="hljs-attribute">difficulty</span>": <span class="hljs-value"><span class="hljs-string">"easy"</span>
  </span>},
  {
    "<span class="hljs-attribute">gameID</span>": <span class="hljs-value"><span class="hljs-number">214</span></span>,
    "<span class="hljs-attribute">playerID</span>": <span class="hljs-value"><span class="hljs-number">324</span></span>,
    "<span class="hljs-attribute">score</span>": <span class="hljs-value"><span class="hljs-number">874</span></span>,
    "<span class="hljs-attribute">difficulty</span>": <span class="hljs-value"><span class="hljs-string">"intermediate"</span>
  </span>}
]
</code></pre>
</body></html>